{
    "swagger": "2.0",
    "info": {
        "description": "Video History Info.",
        "title": "VideoHistory",
        "contact": {
            "name": "jiayu.Wang",
            "email": "wangjiayuzh@163.com"
        },
        "license": {},
        "version": "1.0"
    },
    "host": "api.golangxiaoyu.com/swagger/index.html",
    "paths": {
        "/history/clear": {
            "post": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "clear Video history Info",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "history"
                ],
                "summary": "clear",
                "parameters": [
                    {
                        "description": "body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ServiceModel.ClearHistoryParameter"
                        }
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        },
        "/history/del": {
            "post": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "del Video history Info",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "history"
                ],
                "summary": "del",
                "parameters": [
                    {
                        "description": "body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ServiceModel.DelHistoryParameter"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ServiceModel.DelHistoryResponse"
                        }
                    }
                }
            }
        },
        "/history/info": {
            "post": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "get Video history Info",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "history"
                ],
                "summary": "info",
                "parameters": [
                    {
                        "description": "body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ServiceModel.PostBody"
                        }
                    },
                    {
                        "description": "body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ServiceModel.InfoHistoryParameter"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ServiceModel.InfoHistoryResponse"
                        }
                    }
                }
            }
        },
        "/history/list": {
            "post": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "get Video history Infos",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "history"
                ],
                "summary": "list",
                "parameters": [
                    {
                        "description": "body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ServiceModel.ListHistoryParameter"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ServiceModel.ListHistoryResponse"
                        }
                    }
                }
            }
        },
        "/history/submit": {
            "post": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "submit Video history Info",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "history"
                ],
                "summary": "submit",
                "parameters": [
                    {
                        "description": "body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ServiceModel.SubmitHistoryParameter"
                        }
                    }
                ],
                "responses": {
                    "200": {}
                }
            }
        }
    },
    "definitions": {
        "ServiceModel.ClearHistoryParameter": {
            "type": "object",
            "required": [
                "openId"
            ],
            "properties": {
                "openId": {
                    "type": "string"
                }
            }
        },
        "ServiceModel.DelHistoryParameter": {
            "type": "object",
            "required": [
                "openId",
                "videoIds"
            ],
            "properties": {
                "openId": {
                    "type": "string"
                },
                "videoIds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "ServiceModel.DelHistoryResponse": {
            "type": "object",
            "properties": {
                "deleteInfo": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "boolean"
                    }
                },
                "openId": {
                    "type": "string"
                }
            }
        },
        "ServiceModel.InfoHistoryParameter": {
            "type": "object",
            "required": [
                "openId",
                "videoId"
            ],
            "properties": {
                "openId": {
                    "type": "string"
                },
                "videoId": {
                    "type": "string"
                }
            }
        },
        "ServiceModel.InfoHistoryResponse": {
            "type": "object",
            "properties": {
                "authorName": {
                    "type": "string"
                },
                "coverUrl": {
                    "type": "string"
                },
                "openId": {
                    "type": "string"
                },
                "title": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "useTime": {
                    "type": "integer"
                },
                "videoId": {
                    "type": "string"
                }
            }
        },
        "ServiceModel.ListHistoryParameter": {
            "type": "object",
            "required": [
                "openId"
            ],
            "properties": {
                "openId": {
                    "type": "string"
                },
                "pageCount": {
                    "type": "integer"
                },
                "pageSize": {
                    "type": "integer"
                }
            }
        },
        "ServiceModel.ListHistoryResponse": {
            "type": "object",
            "properties": {
                "pageCount": {
                    "type": "integer"
                },
                "pageSize": {
                    "type": "integer"
                },
                "videos": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ServiceModel.InfoHistoryResponse"
                    }
                }
            }
        },
        "ServiceModel.PostBody": {
            "type": "object",
            "required": [
                "body",
                "header"
            ],
            "properties": {
                "body": {
                    "type": "object"
                },
                "header": {
                    "type": "Header"
                }
            }
        },
        "ServiceModel.SubmitHistoryParameter": {
            "type": "object",
            "required": [
                "openId",
                "useTime",
                "videoId"
            ],
            "properties": {
                "authorName": {
                    "type": "string"
                },
                "coverUrl": {
                    "type": "string"
                },
                "openId": {
                    "type": "string"
                },
                "title": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "useTime": {
                    "type": "integer"
                },
                "videoId": {
                    "type": "string"
                }
            }
        }
    }
}